:root {
  --primary: #006837;
  --secondary: #009124;
  --danger: #db0012;
  --success: #169448;
  --white: #ffffff;
  --black: #000000;
  --light-black: #656263;
  --background: #f7fafb;
  --gray: #8d8d8d;
  --gray-light: #9f9f9f;
  --link: #005fa9;
  --link-dark: #2a5cb1;
}

$widescreen: 1440px;
$desktop: 1280px;
$tablet: 960px;
$mobile: 600px;

$display-font-weight: 400;